<footer>
  <div class="footer-wrapper">
    <div class="banner">
      <div class="img-text">
        <h2>&#169; 2021 {{site.title}}</h2>
        <p>{{site.address}}</p>
        <p>{{site.email}}</p>
        <p>{{site.phoneNumber}}</p>
      </div>
      <img
        class="umb-logo"
        src="/umbcs/images/umass_logo.png"
        alt="Logo of UMass Boston"
      />
      <img
        class="email-logo"
        src="/umbcs/images/email-logo.png"
        alt="logo of email"
      />
      <img
        class="phone-logo"
        src="/umbcs/images/phone-logo.png"
        alt="logo of phone"
      />
    </div>
  </div>
</footer>
